.app-root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@keyframes scorePop {
	0% {
		opacity: 0;
		transform: translateY(0) scale(0.8);
	}
	10% {
		opacity: 1;
		transform: translateY(-10px) scale(1.1);
	}
	80% {
		opacity: 1;
		transform: translateY(-30px) scale(1);
	}
	100% {
		opacity: 0;
		transform: translateY(-50px) scale(0.8);
	}
}

@keyframes scoreDecrease {
	0% {
		opacity: 0;
		transform: translateY(0) scale(0.8);
	}
	10% {
		opacity: 1;
		transform: translateY(10px) scale(1.1);
	}
	80% {
		opacity: 1;
		transform: translateY(30px) scale(1);
	}
	100% {
		opacity: 0;
		transform: translateY(50px) scale(0.8);
	}
}
